include ../includes/head
block content
    include ../includes/header
.container-fluid
    .row
        include ../includes/slide
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            .row
                .col-sm-11
                    h1.page-header 项目列表
                .col-sm-1
                    a.btn.btn-success(href='/project/add') 添加
            .row
                .table-responsive
                    table.table.table-hover
                        caption 下表为所有项目列表
                        thead
                            tr
                                th  序号
                                th  项目名称
                                th  所属公司
                                th  维护公司
                                th  创建人
                                th  管理员
                                th  项目详情
                                th  操作
                        if (result)
                            each item in result
                                if(item)
                                    tr
                                        td #{item.id}
                                        td #{item.name}
                                        td #{item.owner_company}
                                        td #{item.manage_company}
                                        td #{item.create_name}
                                        td #{item.manage_id}
                                        td #{item.comment}
                                        td
                                            a.delBtn(href='javascript:void(0);' data-id='#{item.id}')  删除
                                            a.editBtn(href='/project/edit/#{item.id}' data-id='#{item.id}')  编辑
include ../includes/footer
script(src='/requirejs/require.js' data-main="/javascript/project/list")
