include ../includes/head
block content
    include ../includes/header
.container-fluid
    .row
        include ../includes/slide
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            .row
                .col-sm-11
                    h1.page-header 设备列表
                .col-sm-1
                    a.btn.btn-success(href='/equipment/add') 添加设备
            .row
                .table-responsive
                    table.table.table-bordered
                        caption 下表为所有设备列表
                        thead
                            tr
                                th  序号
                                th  设备名称
                                th  设备ID
                                th  设备key
                                th  所属项目
                                th  操作
                        if (result)
                            each item in result
                                if(item)
                                    tr.list_tr
                                        td #{item.id}
                                        td #{item.ename}
                                        td #{item.equip_id}
                                        td #{item.key}
                                        td #{item.pname}
                                        td
                                            a.delBtn(href='javascript:void(0);' data-id='#{item.id}' data-type='equipment')  删除
                                                span.glyphicon.glyphicon-remove
                                            a.editBtn(href='/equipment/edit/#{item.id}' data-id='#{item.id}') 编辑
                                                span.glyphicon.glyphicon-edit
include ../includes/footer
script(src='/requirejs/require.js' data-main="/javascript/equipment/list")
